<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=styles.css>
    <title>Football Data</title>
</head>

<body>
    <article class="content">
        <h1> NFL Rushing Leaders</h1>
        <ul>
            <li><a href="index.html">Passing</a></li>
            <li><a href="receiving.html">Receiving</a></li>
            <li><a href="rushing.html">Rushing</a></li>
        </ul>
        <table id="data-table" class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th>Age</th>
                    <th>Pos</th>
                    <th>G</th>
                    <th>GS</th>
                    <th>Yds</th>
                    <th>TD</th>
                    <th>1D</th>
                    <th>Succ%</th>
                    <th>Lng</th>
                    <th>Y/A</th>
                    <th>Y/G</th>
                    <th>Int</th>
                    <th>Fmb</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data rows will be inserted here dynamically -->
            </tbody>
        </table>
        <script src="populate_table.js"></script>
    </article>
</body>

</html>